<!--All Content-->
<a class="CoveoTab" data-layout="list" data-id="All" data-caption="All Content"></a>
<!--Files-->
<a class="CoveoTab" data-layout="list" data-id="Files" data-caption="Files" data-expression="(NOT @filename=(aspx) NOT @documenttype==DocumentSet NOT @commontype==(Contact,Campaign,Account,Lead,&quot;Divisions Learning Videos&quot;) NOT @filetype==(mp4,mp3,wmv,Image,swf)) (NOT @commontype==(Picture) OR @filetype==(ppt,pdf,msg,db,vsd,xps,lnk,pdn)) (NOT @commontype==(&quot;Video Rendition&quot;) OR @filetype=(pdf)) (NOT @commontype==(Image) OR (@commontype==(Image) @filetype==(xml,xls,vsd,pdf,ppt,doc,msg,txt,htm,html,config,zip))) (NOT @commontype==(&quot;Help Video&quot;,Video,Audio))"></a>
<!--Sites-->
<a class="CoveoTab" data-layout="list" data-id="Sites" data-caption="Sites" data-expression="((NOT @filename==(&quot;DispForm.aspx&quot;)) (NOT @commongrouptype==(Documents,Media)) (NOT @commontype==(Contact,Document)) (NOT @filetype==(doc,pdf,Image,xml,ppt)) (NOT (@filetype==txt AND NOT @filename=aspx))) OR (@filetype==&quot;spdocumentset&quot;)"></a>
<!--People-->
<a class="CoveoTab" data-layout="card" data-id="People" data-caption="People" data-expression="@commontype==Contact"></a>
<!--Media-->
<a class="CoveoTab" data-layout="list" data-id="Media" data-caption="Media" data-expression="(NOT @isattachment) (NOT @filetype==spdocumentset) (NOT @filetype==(xls,pdf,zip,msg,doc,xsd,ppt,xml,vsd,html,config)) (NOT @filetype==txt OR @filename=(&quot;.mp4&quot;)) @commontype==(Image,Picture,&quot;Video Rendition&quot;,Video,&quot;Help Video&quot;,Audio,&quot;Divisions Learning Videos&quot;)"></a>