<body id="search" class='CoveoSearchInterface' data-enable-history="true" data-design="new">
  <div class="CoveoAnalytics" data-search-hub="pilot"></div>
  <div class="CoveoFoldingForThread"
    data-field="@systopparent"
    data-parent-field="@containsattachment"
    data-child-field="@isattachment"
    data-range="2"></div>

  <div class="gates-header-section">
    <div class="gates-inner-header-section">
      <div class="gates-logo-column">
        <div class="coveo-logo-wrapper">
          <a href="/pilot-search" class="global-nav-logo" title="The Bill &amp; Melinda Gates Foundation"><span>The Bill &amp; Melinda Gates Foundation</span></a>
        </div>
      </div>
      <div class="gates-searchbox-column">
        <div class="coveo-search-section">
          <div class="CoveoSearchbox" data-enable-search-as-you-type="true" data-enable-omnibox="true" data-enable-reveal-query-suggest-addon="true"
            data-enable-wildcards="true" data-enable-question-marks="true" data-enable-partial-match="true" data-partial-match-keywords="2"
            data-search-as-you-type-delay="10"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="coveo-main-section">
    <div class="coveo-facet-column">
      <% include ./pilot-facets %>
    </div>
    <div class="coveo-results-column">

      <div class="coveo-tab-section">
        <% include ./pilot-tabs %>
      </div>
      <div class="CoveoSearchAlerts"></div>
      <div class="CoveoBreadcrumb"></div>

      <div class="coveo-recommended-result-list-section">
        <div class="CoveoRecommendedResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="false">
          <% include ../templates/pilot/results-template %>
        </div>
      </div>

      <div class="coveo-result-list-section">
        <div class="CoveoShareQuery"></div>
        <div class="CoveoExportToExcel"></div>
        <div class="CoveoPreferencesPanel">
          <div class="CoveoResultsPreferences"></div>
          <div class="CoveoResultsFiltersPreferences"></div>
        </div>

        <div class="coveo-results-header">
          <div class="coveo-summary-section">
            <span class="CoveoQuerySummary"></span>
          </div>
          <div class="coveo-result-layout-section">
            <span class="CoveoResultLayout" data-valid-layout="list,card"></span>
          </div>
          <div class="coveo-sort-section">
            <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="most relevant"></span>
            <span class="coveo-sort-separator">|</span>
            <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="most recent"></span>
          </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport"></div>

        <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="false">
          <% include ../templates/pilot/results-template %>
        </div>

        <div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="false">
          <% include ../templates/pilot/card-results-template %>
        </div>
        <div class="CoveoPager"></div>
        <div class="CoveoLogo"></div>
      </div>
    </div>
  </div>
</body>