<!--Source = @commonsource-->
<div class="CoveoFacet" id="CoveoFacet_Source" data-id="CoveoFacet_Source" data-title="Source" data-field="@commonsource"
  data-tab="All,Files,Sites,Media" data-enable-settings="false" data-enable-facet-search="false"></div>
<!--Type = @commongrouptype-->
<div class="CoveoFacet" id="CoveoFacet_CommonGroupType" data-id="CoveoFacet_CommonGroupType" data-title="Type" data-field="@commongrouptype"
  data-enable-settings="false" data-tab="All" data-enable-facet-search="false"></div>
<!--Type = @commontype-->
<div class="CoveoFacet" id="CoveoFacet_CommonType" data-id="CoveoFacet_CommonType" data-title="Type" data-field="@commontype"
  data-enable-settings="false" data-tab="Sites" data-enable-facet-search="false"></div>
<!--File = @filetype-->
<div class="CoveoFacet" id="CoveoFacet_FileType" data-id="CoveoFacet_FileType" data-title="File Type" data-field="@filetype" data-tab="Files"
  data-enable-settings="false" data-enable-facet-search="false"></div>
<!--Media Type = @filetype-->
<div class="CoveoFacet" id="CoveoFacet_MediaType" data-id="CoveoFacet_MediaType" data-title="Media Type" data-field="@filetype"
  data-tab="Media" data-enable-settings="false" data-enable-facet-search="false"></div>
<!--Year = @year-->
<div class="CoveoFacet" id="CoveoFacet_Year" data-sort-criteria="AlphaDescending" data-id="CoveoFacet_Year" data-title="Year"
  data-field="@year" data-tab="All,SharePoint" data-enable-settings="false" data-enable-facet-search="false" data-auto-collapse="true"></div>
<!--Month = @month-->
<div class="CoveoFacet" id="CoveoFacet_Month" data-id="CoveoFacet_Month" data-sort-criteria="AlphaAscending" data-title="Month"
  data-field="@month" data-tab="All,SharePoint" data-enable-settings="false" data-enable-facet-search="false" data-auto-collapse="true"></div>
<!--Status = @sfstatus-->
<div class="CoveoFacet" id="CoveoFacet_Status" data-id="CoveoFacet_Status" data-title="Status" data-field="@sfstatus" data-tab="Sites"
  data-enable-settings="false" data-enable-facet-search="false"></div>
<!--Country = "@sfcountry-->
<div class="CoveoFacet" id="CoveoFacet_Country" data-id="CoveoFacet_Country" data-title="Country" data-field="@sfcountry"
  data-tab="People" data-enable-settings="false" data-enable-facet-search="false"></div>
<!--Campaign Category = @sfcampaigncategoryc-->
<div class="CoveoFacet" id="CoveoFacet_CampaignCategory" data-id="CoveoFacet_CampaignCategory" data-title="Campaign Category"
  data-field="@sfcampaigncategoryc" data-tab="People" data-enable-settings="false" data-enable-facet-search="false"></div>
