/* Color palette */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
.CoveoSearchInterface {
  display: none;
  min-height: 100%;
  position: relative;
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  background-color: #e9eef1; }
  .CoveoSearchInterface.coveo-no-recommendations .coveo-recommended-result-list-section {
    display: none; }
  .CoveoSearchInterface .coveo-facet-column {
    width: 25%;
    padding: 15px; }
  .CoveoSearchInterface .coveo-search-section {
    max-width: 600px;
    margin: 0 auto; }
  .CoveoSearchInterface .coveo-facet-breadcrumb-value.coveo-selected *, .CoveoSearchInterface .coveo-facet-slider-breadcrumb-value.coveo-selected * {
    color: #1672e9; }
  .CoveoSearchInterface .gates-header-section {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #232323;
    padding: 20px 20px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #232323;
    border-bottom: 1px solid #232323;
    height: 80px;
    z-index: 2; }
  .CoveoSearchInterface .gates-inner-header-section:after,
  .CoveoSearchInterface .gates-header-section:after {
    clear: both; }
  .CoveoSearchInterface .gates-inner-header-section:before,
  .CoveoSearchInterface .gates-inner-header-section:after,
  .CoveoSearchInterface .gates-header-section:before,
  .CoveoSearchInterface .gates-header-section:after {
    content: " ";
    display: table; }
  .CoveoSearchInterface .gates-inner-header-section {
    max-width: 1200px;
    margin: 0 auto; }
  .CoveoSearchInterface .gates-logo-column {
    display: block;
    float: left;
    margin-right: 0%;
    width: 25%;
    padding: 15px; }
  .CoveoSearchInterface .gates-searchbox-column {
    display: block;
    float: left;
    width: 75%; }
  .CoveoSearchInterface.CoveoSearchInterface.coveo-small-facets .coveo-results-column {
    padding: 10px 10px 10px 15px; }
  .CoveoSearchInterface.coveo-small-interface .coveo-search-section {
    padding: 0 10px; }
  .CoveoSearchInterface.coveo-small-interface .CoveoSearchbox {
    margin-right: 0; }

/* _searchBoxWrapper */
.CoveoSearchbox .CoveoSearchButton {
  background-color: #fff;
  border-color: #979797;
  height: 37px;
  width: 45px; }

.CoveoSearchbox .magic-box,
.CoveoSearchbox .magic-box .magic-box-input {
  border-color: #979797;
  border-radius: 0px; }

.CoveoSearchbox .magic-box .magic-box-input {
  height: 35px; }

.CoveoSearchbox .magic-box .magic-box-input .magic-box-underlay, .CoveoSearchbox .magic-box .magic-box-input > input {
  height: 35px;
  line-height: 17px;
  font-family: Roboto; }

.CoveoSearchbox .magic-box .magic-box-clear {
  height: 35px;
  line-height: 35px; }

.CoveoSearchbox .magic-box .magic-box-suggestions {
  font-family: Roboto; }

.global-nav-logo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../vendor/bmgf/img/bmgf-logo.png);
  background-position: center center;
  background-size: 140px 28px;
  background-repeat: no-repeat;
  height: 50px;
  width: 170px;
  top: 14px;
  position: absolute; }

.global-nav-logo span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.coveo-sprites-checkbox-hook-active,
.coveo-facet-value.coveo-selected .coveo-facet-value-checkbox > span,
.coveo-facet-value:hover .coveo-facet-value-checkbox > span,
.coveo-facet-value:not(.coveo-facet-search-button) .coveo-facet-value-checkbox:focus > span,
.coveo-facet-breadcrumb-multi-icon.coveo-selected,
.CoveoResultsFiltersPreferences .coveo-advanced-filters-builder .coveo-close-and-save .coveo-save,
.CoveoHierarchicalFacet ul.coveo-facet-values .coveo-facet-value.coveo-has-childs.coveo-has-childs-selected.coveo-selected .coveo-facet-value-checkbox > span {
  background-color: #1589ee;
  background-position: initial;
  border: solid 1px #4a4a4a;
  width: 14px;
  height: 14px;
  text-indent: 14px;
  top: -3px; }

.CoveoFacet {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(63, 51, 51, 0.5);
  border: 0; }

.coveo-facet-header-title {
  font-size: 18px;
  font-weight: 300;
  color: #000000; }

.coveo-facet-header,
.coveo-facet-more,
.coveo-facet-less,
.coveo-facet-footer {
  background: transparent;
  text-align: center; }

.coveo-facet-value .coveo-facet-value-checkbox {
  width: 14px;
  height: 14px;
  top: 4px; }

.coveo-facet-value-label {
  padding: 2px 0px; }

.coveo-facet-value.coveo-selected {
  font-size: 14px;
  font-weight: 500;
  color: #000000; }

.coveo-facet-value.coveo-selected .coveo-facet-value-checkbox > span,
.coveo-facet-value:hover .coveo-facet-value-checkbox > span {
  top: -2px; }

.coveo-facet-more,
.coveo-facet-less,
.coveo-facet-header-eraser,
.coveo-footer-eraser {
  font-size: 14px;
  color: #1589ee;
  cursor: pointer; }

.coveo-facet-more,
.coveo-facet-less,
.coveo-footer-eraser {
  margin-bottom: 5px;
  height: 25px;
  width: auto; }
  .coveo-facet-more.coveo-active,
  .coveo-facet-less.coveo-active,
  .coveo-footer-eraser.coveo-active {
    display: inline-block; }

.show-label-separator {
  padding: 0 5px; }

.coveo-facet-values {
  padding: 0px; }

.coveo-facet-less.coveo-active ~ .coveo-facet-more.coveo-active ~ .coveo-more-less-seperator {
  display: inline-block; }

.coveo-facet-less {
  order: 1; }

.coveo-facet-more {
  order: 3; }

.coveo-more-less-seperator {
  order: 2;
  display: none;
  margin: 0 10px; }

.coveo-footer-eraser {
  order: 4;
  margin-left: auto;
  padding-right: 20px;
  margin-right: 5px;
  display: none; }

.coveo-facet-footer {
  min-height: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: 49px; }
  .coveo-facet-footer.coveo-facet-empty {
    margin-bottom: 5px;
    visibility: visible;
    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 49px;
    min-height: 10px; }

.coveo-facet-more:hover, .coveo-facet-more:focus,
.coveo-facet-less:hover,
.coveo-facet-less:focus {
  background: transparent; }

.CoveoSearchInterface .coveo-facet-column.coveo-no-results {
  display: block; }

.coveo-facet-header-eraser,
.coveo-facet-header-eraser:hover {
  background-image: none;
  width: auto; }

/**
* action position for the collapse/expand of the `Facet` component
*/
.CoveoFacet.action-position-collapse-top-left.coveo-facet-collapsed .coveo-facet-header-title-section:before {
  content: "\f107"; }

.CoveoFacet.action-position-collapse-top-left .coveo-facet-header-title-section:before {
  font-family: FontAwesome;
  color: #1589ee;
  content: "\f106";
  font-weight: bold;
  font-size: 1.5em;
  padding-right: 10px; }

.CoveoFacet.action-position-collapse-top-left .coveo-facet-header-title-section {
  cursor: pointer; }

.CoveoFacet.action-position-collapse-top-right.coveo-facet-collapsed .coveo-facet-header-settings-section:after {
  content: "\f107"; }

.CoveoFacet.action-position-collapse-top-right .coveo-facet-header-settings-section:after {
  font-family: FontAwesome;
  color: #1589ee;
  content: "\f106";
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 5px; }

.CoveoFacet.action-position-collapse-top-right .coveo-facet-header-title-section,
.CoveoFacet.action-position-collapse-top-right .coveo-facet-header-settings-section {
  cursor: pointer; }

.CoveoFacet.coveo-active > .coveo-facet-footer > .coveo-footer-eraser {
  display: inline-flex; }

/**
* action position for the show more/less of the `Facet` component
*/
.coveo-tab-section {
  background: transparent;
  border-bottom: 0;
  padding-bottom: 20px; }

.CoveoTab.coveo-selected,
.CoveoTab.coveo-selected:hover {
  border-bottom: 3px solid #1589ee; }

.CoveoTab {
  text-transform: none;
  padding: 0px 8px 2px 8px;
  margin: 0px 10px; }

.CoveoTab * {
  line-height: 74px; }

.CoveoTab {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #000000; }

.CoveoTab.coveo-selected {
  font-weight: 400; }

.CoveoSort {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 0;
  color: #1672e9;
  outline: none;
  text-transform: none; }
  .CoveoSort.coveo-selected, .CoveoSort.coveo-selected:hover {
    color: #000000;
    border-bottom: 0; }

.coveo-result-layout-section {
  visibility: hidden; }

.coveo-result-list-section {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 10px; }

.coveo-pager-list-item,
.coveo-results-per-page-list-item {
  border: 0;
  font-size: 18px;
  color: #1672e9; }

.coveo-pager-list-item.coveo-active,
.coveo-active.coveo-results-per-page-list-item,
.coveo-pager-list-item:hover,
.coveo-results-per-page-list-item:hover {
  color: #000000;
  background-color: transparent; }

.coveo-pager-list-item.coveo-active a,
.coveo-results-per-page-list-item.coveo-active a,
.coveo-pager-list-item:hover a,
.coveo-results-per-page-list-item:hover a {
  color: #000000;
  font-weight: 700;
  background-color: transparent; }

.coveo-list-layout.CoveoResult {
  border-bottom: 0; }

.coveo-results-header {
  box-shadow: none; }

.CoveoPager {
  margin-left: 90px; }

.CoveoResultLink,
a.CoveoResultLink,
.CoveoResult a.CoveoResultLink {
  font-size: 16px;
  font-weight: 500;
  color: #1672e9;
  outline: none; }

.CoveoResultLink:hover,
.CoveoResultLink:visited,
a.CoveoResultLink:hover,
a.CoveoResultLink:visited,
.CoveoResult a.CoveoResultLink:hover,
.CoveoResult a.CoveoResultLink:visited {
  color: #000000; }

.coveo-result-field-date {
  font-size: 14px;
  color: #000000; }

.coveo-folding-footer {
  display: none; }

.coveo-printable-uri {
  cursor: pointer; }

.CoveoFieldTable {
  background: transparent; }

.CoveoRecommendedResultList .coveo-recommended-result-list-header {
  font-size: 18px;
  font-weight: 300;
  color: #39393a;
  padding: 10px; }

.coveo-recommended-result-list-section {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 20px; }

.CoveoBreadcrumb {
  border-bottom: 0; }

.coveo-caption-for-quickview {
  display: inline;
  font-size: 12px;
  font-weight: 300;
  color: #1672e9;
  outline: none; }

.CoveoQuickview:hover,
.CoveoQuickview:hover .coveo-caption-for-quickview {
  text-decoration: none;
  color: #000000; }

.coveo-icon-cell {
  width: 40px;
  text-align: center; }

.ContactAvatar[data-contact-initials]:before {
  content: attr(data-contact-initials);
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  color: white; }

.avatar-1:before {
  background: #00B66A;
  border: none; }

.avatar-2:before {
  background: #00A8FF;
  border: none; }

.avatar-3:before {
  background: #FF8100;
  border: none; }

.avatar-4:before {
  background: #FF1F00;
  border: none; }

.bmgf-icon_container {
  display: inline-block;
  border-radius: .25rem;
  width: 2rem;
  height: 3rem;
  fill: #fff; }

.custom_slds-icon {
  width: 2rem;
  height: 2rem;
  fill: #fff; }

.custom_slds-icon_large {
  width: 3rem;
  height: 3rem; }

.custom_slds-icon_container {
  display: inline-block;
  border-radius: .25rem; }

.bmgf-icon-swf {
  background: url("../../vendor/bmgf/img/icons/SWF.png") no-repeat center; }

.bmgf-icon-mp4 {
  background: url("../../vendor/bmgf/img/icons/MP4.png") no-repeat center; }

.bmgf-icon-mp3 {
  background: url("../../vendor/bmgf/img/icons/MP3.png") no-repeat center; }

.bmgf-icon-wav {
  background: url("../../vendor/bmgf/img/icons/WAV.png") no-repeat center; }

.bmgf-icon-mpg {
  background: url("../../vendor/bmgf/img/icons/MPG.png") no-repeat center; }

.bmgf-icon-wmv {
  background: url("../../vendor/bmgf/img/icons/WMV.png") no-repeat center; }

.bmgf-icon-mov {
  background: url("../../vendor/bmgf/img/icons/MOV.png") no-repeat center; }

.bmgf-icon-wma {
  background: url("../../vendor/bmgf/img/icons/WMA.png") no-repeat center; }

.bmgf-icon-m4v {
  background: url("../../vendor/bmgf/img/icons/M4V.png") no-repeat center; }

.bmgf-icon-wvx {
  background: url("../../vendor/bmgf/img/icons/WVX.png") no-repeat center; }

.bmgf-icon-m4a {
  background: url("../../vendor/bmgf/img/icons/M4A.png") no-repeat center; }

.bmgf-icon-dwg {
  background: url("../../vendor/bmgf/img/icons/CAD.png") no-repeat center; }

.bmgf-icon-dwp {
  background: url("../../vendor/bmgf/img/icons/CAD.png") no-repeat center; }

.bmgf-icon-xls {
  background: url("../../vendor/bmgf/img/icons/XLS.png") no-repeat center; }

.bmgf-icon-xlsb {
  background: url("../../vendor/bmgf/img/icons/XLSB.png") no-repeat center; }

.bmgf-icon-xlsx {
  background: url("../../vendor/bmgf/img/icons/XLSX.png") no-repeat center; }

.bmgf-icon-ttf {
  background: url("../../vendor/bmgf/img/icons/TTF.png") no-repeat center; }

.bmgf-icon-woff {
  background: url("../../vendor/bmgf/img/icons/WOFF.png") no-repeat center; }

.bmgf-icon-woff2 {
  background: url("../../vendor/bmgf/img/icons/WOFF2.png") no-repeat center; }

.bmgf-icon-image {
  background: url("../../vendor/bmgf/img/icons/IMG.png") no-repeat center; }

.bmgf-icon-svg {
  background: url("../../vendor/bmgf/img/icons/SVG.png") no-repeat center; }

.bmgf-icon-ico {
  background: url("../../vendor/bmgf/img/icons/ICO.png") no-repeat center; }

.bmgf-icon-eps {
  background: url("../../vendor/bmgf/img/icons/EPS.png") no-repeat center; }

.bmgf-icon-xml {
  background: url("../../vendor/bmgf/img/icons/XML.png") no-repeat center; }

.bmgf-icon-xsd {
  background: url("../../vendor/bmgf/img/icons/XSD.png") no-repeat center; }

.bmgf-icon-one {
  background: url("../../vendor/bmgf/img/icons/ONE.png") no-repeat center; }

.bmgf-icon-onetoc2 {
  background: url("../../vendor/bmgf/img/icons/ONE.png") no-repeat center; }

.bmgf-icon-onebin {
  background: url("../../vendor/bmgf/img/icons/ONE.png") no-repeat center; }

.bmgf-icon-onepkg {
  background: url("../../vendor/bmgf/img/icons/ONE.png") no-repeat center; }

.bmgf-icon-msg {
  background: url("../../vendor/bmgf/img/icons/EML.png") no-repeat center; }

.bmgf-icon-pdf {
  background: url("../../vendor/bmgf/img/icons/PDF.png") no-repeat center; }

.bmgf-icon-xps {
  background: url("../../vendor/bmgf/img/icons/PDF.png") no-repeat center; }

.bmgf-icon-ppt {
  background: url("../../vendor/bmgf/img/icons/PPT.png") no-repeat center; }

.bmgf-icon-pptx {
  background: url("../../vendor/bmgf/img/icons/PPTX.png") no-repeat center; }

.bmgf-icon-mpp {
  background: url("../../vendor/bmgf/img/icons/MPP.png") no-repeat center; }

.bmgf-icon-pub {
  background: url("../../vendor/bmgf/img/icons/PUB.png") no-repeat center; }

.bmgf-icon-twb {
  background: url("../../vendor/bmgf/img/icons/TWB.png") no-repeat center; }

.bmgf-icon-vsd {
  background: url("../../vendor/bmgf/img/icons/VSD.png") no-repeat center; }

.bmgf-icon-html {
  background: url("../../vendor/bmgf/img/icons/WEB.png") no-repeat center; }

.bmgf-icon-htm {
  background: url("../../vendor/bmgf/img/icons/WEB.png") no-repeat center; }

.bmgf-icon-doc {
  background: url("../../vendor/bmgf/img/icons/DOC.png") no-repeat center; }

.bmgf-icon-docx {
  background: url("../../vendor/bmgf/img/icons/DOCX.png") no-repeat center; }

.bmgf-icon-rtf {
  background: url("../../vendor/bmgf/img/icons/RTF.png") no-repeat center; }

.bmgf-icon-zip {
  background: url("../../vendor/bmgf/img/icons/ZIP.png") no-repeat center; }

.bmgf-icon-gz {
  background: url("../../vendor/bmgf/img/icons/GZ.png") no-repeat center; }

.bmgf-icon-rar {
  background: url("../../vendor/bmgf/img/icons/RAR.png") no-repeat center; }

.bmgf-icon-tar {
  background: url("../../vendor/bmgf/img/icons/TAR.png") no-repeat center; }

.bmgf-icon-txt {
  background: url("../../vendor/bmgf/img/icons/TXT.png") no-repeat center; }

.bmgf-icon-unknown {
  background: url("../../vendor/bmgf/img/icons/OTHER.png") no-repeat center; }

.bmgf-icon-account {
  background: url("../../vendor/bmgf/img/icons/SF ACCOUNT.png") no-repeat center;
  background-color: transparent; }

.bmgf-icon-campaign {
  background: url("../../vendor/bmgf/img/icons/SF CAMPAIGN.png") no-repeat center;
  background-color: transparent; }

.bmgf-icon-lead {
  background: url("../../vendor/bmgf/img/icons/SF LEAD.png") no-repeat center;
  background-color: transparent; }

.contact-card .fa {
  position: absolute; }
  .contact-card .fa + .contact-card__info {
    margin-left: 20px; }

.contact-card .contact-card__contact-type .contact-card__info,
.contact-card .contact-card__account-name .contact-card__info {
  color: gray; }

.contact-card .fa-ban {
  color: red;
  margin-left: 5px; }

.contact-card .mailing-adddress_line02,
.contact-card .mailing-adddress_line03 {
  display: block;
  margin-left: 20px; }

.contact-card table {
  border: none; }

.contact-card th {
  padding: 0; }

.contact-card td span {
  width: 100%; }
  .contact-card td span .card-item-icon-container {
    float: left;
    width: 20px; }
    .contact-card td span .card-item-icon-container i {
      position: relative; }
