<script id="Contact" class="result-template" data-condition="raw.objecttype == 'Contact'" type="text/x-underscore-template">
    <% include ./SalesforceContact %>
</script>
<script id="SharePointContact" class="result-template" data-condition="raw.filetype == 'spcontact'" type="text/x-underscore-template">
    <% include ./SharePointContact %>
</script>