<script id="Contact" class="result-template" data-condition="raw.objecttype == 'Contact'" type="text/x-underscore-template">
    <% include ./SalesforceContact %>
</script>
<script id="SharePointContact" class="result-template" data-condition="raw.filetype == 'spcontact'" type="text/x-underscore-template">
    <% include ./SharePointContact %>
</script>
<script id="Account" class="result-template" data-condition="raw.objecttype == 'Account'" type="text/x-underscore-template">
    <% include ./SalesforceAccount %>
</script>
<script id="Lead" class="result-template" data-condition="raw.objecttype == 'Lead'" type="text/x-underscore-template">
    <% include ./SalesforceLead %>
</script>
<script id="Case" class="result-template" data-condition="raw.objecttype == 'Case'" type="text/x-underscore-template">
    <% include ./SalesforceCase %>
</script>
<script id="Campaign" class="result-template" data-condition="raw.objecttype == 'Campaign'" type="text/x-underscore-template">
    <% include ./SalesforceCampaign %>
</script>
<script id="Event" class="result-template" data-condition="raw.objecttype == 'Giving_Pledge_Events__c'" type="text/x-underscore-template">
    <% include ./SalesforceEvent %>
</script>
<script id="Task" class="result-template" data-condition="raw.objecttype == 'Task'" type="text/x-underscore-template">
    <% include ./SalesforceTask %>
</script>
<script id="SharepointASPX" class="result-template" type="text/x-underscore-template" data-condition="raw.filename && raw.filename.indexOf('.aspx') >= 0">
    <% include ./SharepointASPX %>
</script>
<script id="Document" class="result-template" type="text/x-underscore-template" data-condition="raw.objecttype == 'Document' || raw.objecttype == 'Attachment' || raw.spcontenttype == 'Document' || raw.spcontenttype != null">
    <% include ./Document %>
</script>
<script id="Sharepoint" class="result-template" data-condition="raw.spitemtype != null &amp;&amp; raw.spitemtype != 'List'" type="text/x-underscore-template">
    <% include ./SharePoint %>
</script>
<script id="SharepointList" class="result-template" data-condition="raw.spitemtype != null &amp;&amp; raw.spitemtype == 'List'" type="text/x-underscore-template">
    <% include ./SharePointList %>
</script>
<script id="Default" class="result-template" type="text/x-underscore-template">
    <% include ./Default %>
</script>
<script id="SharePointChild" class="result-template" type="text/x-underscore-template">
    <% include ./SharePointChild %>
</script>