<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      {{= fromSalesforceObjectTypeToIcon(obj, {}) }}
    </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px;">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <table class='CoveoFieldTable'>
            <tr data-field='@sfcompany' data-caption='Company' />
            <tr data-field='@sfaddress' data-caption='Address' data-helper='customAddress' data-html-value='true' />
            <tr data-field='@sfphone' data-caption='Phone' />
            <tr data-field='@sfmobilephone' data-caption='Mobile Phone' />
            <tr data-field='@sfemail' data-caption='Email' />
          </table>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:20px;width:110px;">
      <div class="coveo-result-row">
        <span class="CoveoFieldValue coveo-result-field-date" data-field="@date" data-helper="date"></span>
      </div>
      <div class="coveo-result-row">
        <div class="CoveoQuickview">
          <div>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="coveo-caption-for-quickview" tabindex="0">quick view</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
