<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      {{= fromSalesforceObjectTypeToIcon(obj, {}) }}
    </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px;">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoFieldValue" data-field='@sfaccountname' data-caption='Account'></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <table class='CoveoFieldTable'>
            <tr data-field='@sfsubject' data-caption='Subject' />
            <tr data-field='@sfmessagec' data-caption='Message' />
            <tr data-field='@sfcontactname' data-caption='Contact' />
            <tr data-field='@sfcreatedbyname' data-caption='Created By' />
          </table>
        </div>
      </div>

    </div>
    <div class="coveo-result-cell" style="padding-left:20px;width:110px;">
      <div class="coveo-result-row">
        <span class="CoveoFieldValue coveo-result-field-date" data-field="@date" data-helper="date"></span>
      </div>
      <div class="coveo-result-row">
        <div class="CoveoQuickview">
          <div>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="coveo-caption-for-quickview" tabindex="0">quick view</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
