<div class="coveo-result-frame contact-card">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      {{= fromGatesContactTypeToIcon(obj, {}) }}
    </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px;">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <table class='CoveoFieldTable' data-allow-minimization='false'>
            <tr data-field='@sfcontacttypec' data-caption=' ' data-helper='sfCustomContactType' data-html-value='true' />
            <tr data-field='@sfaccountname' data-caption=' ' data-helper='sfCustomAccountName' data-html-value='true' />
            <tr data-field='@sfmobilephone' data-caption=' ' data-helper='sfCustomMobilePhone' data-html-value='true' data-helper-options='{doNotPhone: "{{= obj.raw.sfdonotphonec}}"}'/>
            <tr data-field='@sfphone' data-caption=' ' data-helper='sfCustomPhone' data-html-value='true' data-helper-options='{doNotPhone: "{{= obj.raw.sfdonotphonec}}"}'/>
            <tr data-field='@sfemail' data-caption=' ' data-helper='sfCustomEmail' data-html-value='true' data-helper-options='{doNotEmail: "{{= obj.raw.sfdonotemailc}}"}'/>
            <tr data-field='@sfmailingaddress' data-caption=' ' data-helper='sfCustomMailingAddress' data-html-value='true' />
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
