<div class="coveo-result-frame contact-card">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:65px;text-align:center;">
      {{= fromGatesContactTypeToIcon(obj, {}) }}
    </div>
    <div class="coveo-result-cell" style="padding-left:15px;">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px;">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
            <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <table class='CoveoFieldTable' data-allow-minimization='false'>
            <tr data-field='@spjobtitle' data-caption=' ' data-helper='spCustomJobTitle' data-html-value='true' />
            <tr data-field='@spcompany' data-caption=' ' data-helper='spCustomCompany' data-html-value='true' />
            <tr data-field='@spmobilephone' data-caption=' ' data-helper='spCustomMobilePhone' data-html-value='true'/>
            <tr data-field='@spphone' data-caption=' ' data-helper='spCustomPhone' data-html-value='true'>
            <tr data-field='@spemail' data-caption=' ' data-helper='spCustomEmail' data-html-value='true'/>
            <tr data-field='@spmailingaddress' data-caption=' ' data-helper='spCustomMailingAddress' data-html-value='true' />
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
