<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      {{= fromGatesFileTypeToIcon(obj, {}) }}
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
          <div class="CoveoQuickview">
          <div style="font-size:14px">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="coveo-caption-for-quickview" tabindex="0">quick view</div>
          </div>
        </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
