<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      <div class="CoveoIcon"></div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink"></a>
        </div>
        <div class="coveo-result-cell" style="width:200px; text-align:right; font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
    </div>
  </div>
</div>