<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell coveo-icon-cell">
      <div class="CoveoIcon"></div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:13px">
          <span class="CoveoResultFolding" data-result-template-id="SharePointChild" data-one-result-caption="Displaying the only attachment"
            data-normal-caption="Most Relevant Attachments" data-expanded-caption="All Attachments" data-more-caption="Show All Attachments"
            data-less-caption="Show Only Relevant Attachments"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell created-by-section">
          <span>Created by </span><span class="CoveoFieldValue" data-field="@sysauthor"></span>
          <span>on </span><span class="CoveoFieldValue" data-field="@commoncreateddate" data-helper="customDate"></span>
        </div>
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:20px;width:110px;">
      <div class="coveo-result-row">
        <span class="CoveoFieldValue coveo-result-field-date" data-field="@date" data-helper="date"></span>
      </div>
      <div class="coveo-result-row">
        <div class="CoveoQuickview">
          <div>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="coveo-caption-for-quickview" tabindex="0">quick view</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
