<!DOCTYPE html>
<html>

<head>
  <title>Bill &amp; Melinda Gates Foundation - Search</title>
  <meta about="Search all content at once." />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=device-height">

  <script src="js/CoveoJsSearch.js"></script>
  <script src="js/Coveo.Gates.js"></script>
  <script src="js/templatesNew.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="css/CoveoFullSearchNewDesign.css" />
  <link rel="stylesheet" href="css/PilotFullSearch.Gates.css" />
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {

      Coveo.SearchEndpoint.configureCloudV2Endpoint('<%- config.coveo.org_id %>', '<%- token %>', '<%- config.coveo.rest_uri -%>', {
        renewAccessToken: function () { window.location.href = '/login'; }
      });
      
      Coveo.initGatesCusto(document.getElementById('search'), {
        RecommendedResultList: {
          numberOfRecommendation: 2
        }
      });
    })

  </script>
</head>


  <% include ../partials/pilot-search-interface %>


</html>
